In [4]:
str1 = "data science with coders ready"

In [5]:
str1

'data science with coders ready'

# string concatenation
used to link 2 or more strings is known as string concatenation

In [6]:
#sum(+)operator
t1 = "coders"
t2 = "ready"
t3 = "trainee"
t4 = t1+t2+t3
print(t4)

codersreadytrainee

In [7]:
#join method
s1 = "data science"
s2 = "with python"
print("concatenation string using join() method=" ," ".join([s1,s2]))

concatenation string using join() method= data science with python

# split method
is used to change string in list , or it will split the string into prts by using seperator


syntax = string.split(seperator, maxsplit)

In [8]:
txt = "hello, we are here to learn coding"
x = txt.split(",")
print(x)

['hello', ' we are here to learn coding']

In [9]:
tnt = "reena@geeta@rama@heena"
x  = tnt.split("@")
print(x)

['reena', 'geeta', 'rama', 'heena']

# isupper method
it will return boolen value(true and false value  if the string is in upper case letters

In [12]:
 a = "Hello World!"
b =  "hello 123"
c = "THIS MOVIE IS GREAT "
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# is lower method

In [13]:
tst = "hello@ world"
d = "THIS MOVIE IS GREAT"
print(tst.islower())
print(d.islower())

True
False

# title method
used to change the first letter of the word into capital letter and othen in small

In [14]:
str2 = "toDay wAs a Very rainy day"
print(str2.title())

Today Was A Very Rainy Day

# find() method
return index no. of particular letter

In [15]:
text = "today is a beutiful Day"
text.find("Day")

20

In [16]:
text.find("coders")

-1

# index () method
it will print index no. when the word is there but if not it will return error

In [17]:
text = "today is a beutiful Day"
text.index("Day")

20

In [18]:
df = "khidkiyo k khdakne se khrakta h khdak singh,khdak singh k khdakne se khdakti h khidkiya"
df.count('k')

18

In [19]:
df.count('n')

4

In [20]:
df.count ('a')

8

# list data type

In [2]:
list1 = ['hello',4,True,4.5]
list1

['hello', 4, True, 4.5]

In [3]:
list1[3]

4.5

In [5]:
list1[-3:6]

[4, True, 4.5]

In [16]:
list1[2:]

[True, 4.5]

In [13]:
list1[1:7]

[4, True, 4.5]

# list operator

In [6]:
#repitition method using * operator ----- used to print that word for multiple time
fruit = ["apple","guave","mango", "pinapple","grapes"]
print(fruit*4)

['apple', 'guave', 'mango', 'pinapple', 'grapes', 'apple', 'guave', 'mango', 'pinapple', 'grapes', 'apple', 'guave', 'mango', 'pinapple', 'grapes', 'apple', 'guave', 'mango', 'pinapple', 'grapes']

In [3]:
print(fruit*2)

['apple', 'guave', 'mango', 'pinapple', 'grapes', 'apple', 'guave', 'mango', 'pinapple', 'grapes']

In [18]:
#plus method
veg = ["carrot","raddish","cauliflower","cabbage","potato"]
a = veg+fruit
print(a)

['carrot', 'raddish', 'cauliflower', 'cabbage', 'potato', 'apple', 'guave', 'mango', 'pinapple', 'grapes']

# list methods

append() method---- list.appent(element)

extend() method---- list.extend(iterable)

insert() method---- list.insert(index number,element)

remove() method---- list.remove(element)

pop() method ---- list.pop(index)

clear() method----list.clear()

index() method----list.index(element)

sort() method----list.sort(reverse=true/false,key=myfunc)

count() method---- list.count(value)

In [19]:
fruit

['apple', 'guave', 'mango', 'pinapple', 'grapes']

In [20]:
fruit.append("banana")
fruit

['apple', 'guave', 'mango', 'pinapple', 'grapes', 'banana']

In [4]:
fruit.extend("apple")
fruit

['apple', 'guave', 'mango', 'pinapple', 'grapes', 'a', 'p', 'p', 'l', 'e']

In [28]:
mixedlist = [{1,2},{6,7,5,}]
numtuple = (3,4)
mixedlist.insert(1,numtuple)
print(mixedlist)

[{1, 2}, (3, 4), {5, 6, 7}]

In [36]:
fruit.remove("banana")
fruit

['apple', 'guave', 'pinapple', 'grapes']

In [6]:
mixedlist = [{1,2},{6,7,5,}]
mixedlist.remove({1,2})
print(mixedlist)

[{5, 6, 7}]

In [39]:
fruit.pop(1)
fruit

['apple', 'pinapple', 'grapes']

In [48]:
mixedlist = [{1,2},{6,7,5,}]
mixedlist.pop(0)
mixedlist

[{5, 6, 7}]

In [49]:
mixedlist.clear()
mixedlist

[]

In [7]:
fruit.index("pinapple")
fruit

['apple', 'guave', 'mango', 'pinapple', 'grapes']

In [52]:
fruit.count("pinapple")

1

In [55]:
prime_number = ['3','5','7','1']

prime_number.sort()

print(prime_number)

['1', '3', '5', '7']

In [57]:
vowels = ['e','a','o','u','i']

vowels.sort(reverse=True)

vowels

['u', 'o', 'i', 'e', 'a']

# list comprehension

In [36]:
list2 = "datasciencewithpython"
n = [x.upper() for x in list2]
n

['D',
 'A',
 'T',
 'A',
 'S',
 'C',
 'I',
 'E',
 'N',
 'C',
 'E',
 'W',
 'I',
 'T',
 'H',
 'P',
 'Y',
 'T',
 'H',
 'O',
 'N']

In [38]:
list3 = [x**2 for x in range(10)]
list3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# tuple data type

In [39]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

# ranges of indexes

In [41]:
tup = ("hello", "dear", "coders","welcome","you","all")
print(tup[0:4])

('hello', 'dear', 'coders', 'welcome')

In [43]:
t1[3]

4

In [45]:
#stepping of tuple
print(tup[0::2])

('hello', 'coders', 'you')

# tuple concatenation

In [48]:
t1 = (1,3,4,5,6)
t2 = ("hello", "dear", "coders","welcome","you")
print("original t1=" +str(t1))
print("original t2=" +str(t2))

res = t1+t2
print("final:" +str(res))

original t1=(1, 3, 4, 5, 6)
original t2=('hello', 'dear', 'coders', 'welcome', 'you')
final:(1, 3, 4, 5, 6, 'hello', 'dear', 'coders', 'welcome', 'you')

In [50]:
t1 = (1,3,4,5,6,4,3,32,5,2,5,2,)
t2 = ("hello", "dear", "coders","welcome","happy","you")
res = t1.count(5)
print("count of 5 in t1:", res)
res = t2.count("hello")
print("count of hello:",res)

count of 5 in t1: 3
count of hello: 1

In [52]:
t1 = (1,3,4,5,6,4,3,32,5,2,5,2,)
res = t1.index(3)
print("result:" ,res)

result: 1